/*=================================================
*  Parent Style
=================================================== */
.parent-height {
  height: inherit !important;
}

.parent-line-height {
  line-height: inherit !important;
}

.parent-width{
  width: 100%;
}

.parent-color {
  color: inherit !important;
}

.parent-bg {
  background: inherit !important;
}
