body {
    background-color: #fff;
}

.page-wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
    @include media(sm){
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .page-container {
        padding: 0;
    }

    .page-content {
        @include media-min(md) {
            flex: 0 0 percentage(8 / 12);
            max-width: percentage(8 / 12);
            min-height: 570px;
        }

        width: 100%;
        padding-left: $grid-gap/2;
        padding-right: $grid-gap/2;
    }

    .page-aside {
        @include media-min(md) {
            flex: 0 0 percentage(4 / 12);
            max-width: percentage(4 / 12);
        }

        width: 100%;
        padding-left: $grid-gap/2;
        padding-right: $grid-gap/2;
    }
}