.widget_recent_comments {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        list-style: none;
        border-bottom: 1px solid $gray;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom-color: transparent;
        }
    }

  

    .comment-author-link {
        display: inline-block;
    }

    .post-date {
        font-size: 13px;
        color: $color-third;
    }

    &.rt-widget--footer {
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom-color: transparent;
        }
    }
}