.rt-accordion {

    border-radius: $border-radius;

    &__title {
        margin: 0;
        padding: 10px 15px;
        background-color: $gray-light;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-top: -1px;
        margin-bottom: -1px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-active {
            display: block;
        }

        .icon-deactive {
            display: none;
        }

    }

    &__content {
        padding: 15px;
        display: none;
    }

    // is active
    &__item {
        margin-bottom: -1px;
        border: 1px solid $border-color;

        &.is-active {
            .icon-active {
                display: none;
            }

            .icon-deactive {
                display: block;
            }
        }

    }
}