.rt-alert{
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
  background-color: $gray-light;
  &__close {
    position: absolute;
    top: 0;
    right: 15px;
  }
  a{
    font-weight: bold;
    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }
}

.rt-alert--info{
  border-color: lighten($color-info, 30);
  background-color: lighten($color-info, 39);
  color: darken($color-info, 10);
}
.rt-alert--success{
  border-color: lighten($color-success, 30);
  background-color: lighten($color-success, 39);
  color: darken($color-success, 10);
}
.rt-alert--warning{
  border-color: lighten($color-warning, 30);
  background-color: lighten($color-warning, 39);
  color: darken($color-warning, 10);
}
.rt-alert--danger{
  border-color: lighten($color-danger, 30);
  background-color: lighten($color-danger, 39);
  color: darken($color-danger, 10);
}

.body{
  background: blue;
}