.rt-gotop {
  transition: .3s;
  font-size: 14px;
  z-index: 999;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.38);
  color: $color-light-primary;
  display: none;
  cursor: pointer;
  i {
    line-height: 37px;
  }
  &:hover {
    color: $color-light-primary;
    background-color: $color-brand;
  }
  &.is-active {
    display: block;
  }
}
