.rt-pagination {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__item,
    .page-numbers {
        display: inline-block;
        min-width: 31px;
        height: 31px;
        text-align: center;
        line-height: 31px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
        border-radius: $border-radius;
        border: 1px solid transparent;
        margin-right: 5px;
        background-color: $pagination-background;
        color: $pagination-color;
        border-color: $pagination-border;

        i {
            line-height: inherit;
        }

        &:hover {
            color: $pagination-hover-color;
            border-color: $pagination-hover-border;
            text-decoration: none;
        }

        &.current {
            background-color: $pagination-active-background;
            color: $pagination-active-color;
            border-color: $pagination-active-border;
        }
    }

    &__spinner {
        display: none;
        color: $gray;
    }

    &__button {
        display: block;
    }
}

/*=================================================
*  LOADMORE
=================================================== */
.rt-pagination--loadmore {
    display: flex;
    justify-content: center;
}