/* AFC  */

#your-profile .acf-input th {
    display: none;
}

#your-profile .acf-input td {
    padding: 0;
}

#your-profile h2 {
    display: none;
}

.image-wrap {
    max-width: 98px !important;
}

/* text editor in ACF */

.rt-wp-editor-inside .wp-editor-expand #wp-content-editor-tools {
    border: 1px solid #e5e5e5 !important;
}

.rt-wp-editor-inside .wp-editor-expand #wp-content-editor-tools {
    width: 99.7% !important;
}

.rt-wp-editor-inside .wp-media-buttons {
    margin-left: 10px !important;
}

.rt-wp-editor-inside .wp-editor-tabs {
    margin-right: 10px !important;
}

/* HIDDEN FEATURED POST LABEL */

.acf-field-5bb84033c00ee .acf-label {
    display: none;
}

/*metabox*/

.edit-post-layout__metaboxes:not(:empty) .edit-post-meta-boxes-area {
    margin: auto 0;
}

/* admin notice */

.notice{
    position: relative;
    text-decoration: none;
} 
