/*=================================================
*  FONT
=================================================== */
$font-primary: 'Poppins',
sans-serif;
$font-second: 'Roboto',
sans-serif;
/* Font Weight */
$font-size: 14px;
$font-weight: 500;
$line-height: 1.5;

/* Font Color*/
$color-primary: #222;
$color-second: #3c3c3c;
$color-third: #7c7e83;
$color-action: #71b02f;

/* Font Size */
$font-sizes: (h1: 1.802rem, h2: 1.602rem, h3: 1.424rem, h4: 1.266rem, h5: 1.125rem, h6 : 1rem);



/*=================================================
*  Default Color
=================================================== */

$color-brand: #b16298;
$color-backdrop: rgba(0, 0, 0, 0.9);
/*=================================================
*  Link Color
=================================================== */

$link: $color-brand;
$link-active: lighten($link, 10%);
$link-hover: lighten($link, 10%);
$link-focus: lighten($link, 10%);
/*=================================================
*  GRAY
=================================================== */
$gray: #E6E6E6;
$gray-light: #f7f7f7;

/*=================================================;
/* DARK
/*================================================= */
$dark-primary: #222222;
$dark-second: #333;
/*=================================================
*  BORDER
=================================================== */
$border-color: #e6e6e6;

/*=================================================;
/* BUTTON
/*================================================= */
$button-primary-background: $dark-primary;
$button-primary-color: $color-base;
$button-second-background: #555;
$button-second-color: $color-base;

/*=================================================;
/* BADGES
/*================================================= */
$badges-background: $color-brand;
$badges-color: $color-base;

$badges-hover-background: lighten($color-brand, 10%);
$badges-hover-color: $color-base;

/*=================================================;
/* PAGINATION
/*================================================= */
$pagination-background: $color-base;
$pagination-color: $color-second;
$pagination-border: $border-color;

$pagination-hover-background: $color-base;
$pagination-hover-color: $color-brand;
$pagination-hover-border: $color-brand;

$pagination-active-background: $color-brand;
$pagination-active-color: $color-base;
$pagination-active-border: $color-brand;