/*=================================================
*  GENERAL FORM
=================================================== */
.woocommerce .input-text,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
.woocommerce .search-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 8px 15px;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &:active,
  &:hover {
    border-color: darken($border-color, 5%);
    outline: none;
  }

  &:focus {
    outline: none;
    border-color: darken($border-color, 10%);
    box-shadow: 0 0 0 2px $color-success;
  }
}

.woocommerce form .form-row {
  margin-bottom: 5px;
}

.woocommerce-form-row em {
  font-size: 12px;
  color: $color-third;
}

.woocommerce form .form-row label {
  font-weight: $font-weight;
}

/*=================================================;
/* CHECKBOX
/*================================================= */
.comment-form-cookies-consent {
  position: relative;

  label {
    margin-left: 20px;
  }

  input {
    position: absolute;
    top: em(5px);
    left: 0;
  }
}

