#yith-quick-view-content .product {
    display: flex;
    flex-flow: row nowrap;
}

#yith-quick-view-modal .yith-wcqv-main {
    box-shadow: none !important;
}

//remove button on body
.rt-product--overlay-btn {
    .yith-wcqv-button:not(.rt-product__btn) {
        display: none;
    }
}

/*=================================================;
/* WISHLIST
/*================================================= */
.woocommerce table.wishlist_table{
    font-size: 1rem;
}
.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table tbody td{
    padding: 8px !important;
}
.yith-wcqv-button{
    color: $color-base;
}
.yith-wcwl-add-to-wishlist{
    margin-bottom: 20px;
}