/*=================================================;
/* GLOBAL - WIDGETS SIDEBAR
/*================================================= */
.rt-widget--aside {
    border: none;
    padding: 0;

    .rt-widget {
        &__header {
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 18px;
            font-weight: $font-weight;
            text-transform: uppercase;
        }
    }
}

/*=================================================;
/* MAIN SEARCH
/*================================================= */
.rt-search {
    background-color: $gray-light;
    height: 100px;

    &__input {
        color: $color-primary;
        border: 1px solid $border-color;
    }

    i {
        color: $color-primary;
    }
}